body {
    font-family: 'VictorMono', sans-serif;
}

h2 {
    font-weight: 900;
}
span {
    font-style: italic;
}

@font-face {
    font-family: 'VictorMono';
    src: url('public/fonts/VictorMono-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'VictorMono';
    src: url('public/fonts/VictorMono-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'VictorMono';
    src: url('public/fonts/VictorMono-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'VictorMono';
    src: url('public/fonts/VictorMono-BoldItalic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'VictorMono';
    src: url('public/fonts/VictorMono-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'VictorMono';
    src: url('public/fonts/VictorMono-ExtraLightItalic.woff2') format('woff2');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'VictorMono';
    src: url('public/fonts/VictorMono-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'VictorMono';
    src: url('public/fonts/VictorMono-SemiBoldItalic.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'VictorMono';
    src: url('public/fonts/VictorMono-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'VictorMono';
    src: url('public/fonts/VictorMono-MediumItalic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'VictorMono';
    src: url('public/fonts/VictorMono-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'VictorMono';
    src: url('public/fonts/VictorMono-LightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'VictorMono';
    src: url('public/fonts/VictorMono-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'VictorMono';
    src: url('public/fonts/VictorMono-ThinItalic.woff2') format('woff2');
    font-weight: 100;
    font-style: italic;
}
